/* http://j4n.co/blog/Creating-your-own-css-grid-system */
.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
  position: relative;
}
[class*='col-'] {
  float: left;
  border: .25px #999 solid;
  background-color: #D8D8D8;
}
